<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MarketServiceMapper">

    <insert id="insertService" parameterType="com.example.demo.dto.MarketServiceRequest" useGeneratedKeys="true" keyProperty="serviceId">
        INSERT INTO Services (email, service_title, service_description, category_id)
        VALUES (#{email}, #{serviceTitle}, #{serviceDescription}, #{categoryId})
    </insert>

    <select id="getServiceById" parameterType="long" resultType="com.example.demo.dto.MarketServiceResponse">
        SELECT * FROM Services WHERE service_id = #{serviceId}
    </select>

    <select id="getAllServices" resultType="com.example.demo.dto.MarketServiceResponse">
        SELECT * FROM Services
    </select>

    <update id="updateService" parameterType="com.example.demo.dto.MarketServiceResponse">
        UPDATE Services
        SET service_title = #{serviceTitle},
            service_description = #{serviceDescription},
            category_id = #{categoryId},
            service_updated_at = NOW()
        WHERE service_id = #{serviceId}
    </update>

    <delete id="deleteService" parameterType="long">
        DELETE FROM Services WHERE service_id = #{serviceId}
    </delete>

</mapper>