<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.Market.ProductRequestMapper">
    
    <!-- 상품 ID와 요청자 이메일로 요청 정보 조회 -->
    <select id="findByProductIdAndRequesterEmail" resultType="com.example.demo.model.Market.ProductRequest">
        SELECT 
            id, product_id as productId, requester_email as requesterEmail, 
            created_at as createdAt, updated_at as updatedAt, 
            status, approval_status as approvalStatus
        FROM 
            productrequests
        WHERE 
            product_id = #{productId} AND requester_email = #{requesterEmail}
    </select>
    
    <!-- 상품 ID와 요청자 이메일로 요청 ID 조회 -->
    <select id="findRequestId" resultType="long">
        SELECT 
            id
        FROM 
            productrequests
        WHERE 
            product_id = #{productId} AND requester_email = #{requesterEmail}
    </select>
    
    <!-- 상품 ID로 모든 요청 조회 -->
    <select id="findByProductId" parameterType="long" resultType="com.example.demo.model.Market.ProductRequest">
        SELECT 
            id, product_id as productId, requester_email as requesterEmail, 
            created_at as createdAt, updated_at as updatedAt, 
            status, approval_status as approvalStatus
        FROM 
            productrequests
        WHERE 
            product_id = #{productId}
        ORDER BY
            created_at ASC
    </select>
    
    <!-- 상품 ID로 첫 번째 요청 ID 조회 -->
    <select id="findFirstRequestIdByProductId" parameterType="long" resultType="long">
        SELECT 
            id
        FROM 
            productrequests
        WHERE 
            product_id = #{productId}
        ORDER BY
            created_at ASC
        LIMIT 1
    </select>
    
</mapper>
